{% load static %}
<div class="flex gap-6 items-center p-4 relative rounded-xl shrink-0 w-full">
	<div class="flex gap-2 items-center shrink-0">
		<div class="bg-success-bg flex items-center justify-center rounded-xl size-6">
			<img src="{% static 'ep_import/icons/check.svg' %}" alt="" class="size-3">
		</div>
		<p class="font-medium text-[13px] text-dark-blue whitespace-nowrap">Technology</p>
	</div>
	<div class="h-0 w-10 border-t-2 border-primary shrink-0"></div>
	<div class="flex gap-2 items-center shrink-0">
		<div class="bg-primary flex items-center justify-center rounded-xl size-6">
			<p class="font-bold text-[12px] text-white">2</p>
		</div>
		<p class="font-semibold text-[13px] text-primary whitespace-nowrap">Site and cells</p>
	</div>
	<div class="h-0 w-10 border-t-2 border-thin-gray shrink-0"></div>
	<div class="flex gap-2 items-center shrink-0">
		<div class="bg-white border border-thin-gray flex items-center justify-center rounded-xl size-6">
			<p class="font-semibold text-[12px] text-muted">3</p>
		</div>
		<p class="font-medium text-[13px] text-muted whitespace-nowrap">Script</p>
	</div>
	<div class="h-0 w-10 border-t-2 border-thin-gray shrink-0"></div>
	<div class="flex gap-2 items-center shrink-0">
		<div class="bg-white border border-thin-gray flex items-center justify-center rounded-xl size-6">
			<p class="font-semibold text-[12px] text-muted">4</p>
		</div>
		<p class="font-medium text-[13px] text-muted whitespace-nowrap">Result</p>
	</div>
</div>
